<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: Create your Jupyter Notebook

#### Add your code below following the instructions given in the course

# In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List popular languages for Data Science
- Discover and learn to manipulate Rstudio to create visual depictions of data sets
- Discover and learn to manipulate Jupyter Notebooks to present markdown, code, and visualizations in a structured fashion
- Discover and learn to manipulate Github to keep track of development and share projects

## Author
Luca Lallemand

Some of the popular languages that Data Scientists use are:
1. R
2. Java
3. Python
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. caret
3. dplyr
4. stringr

| Data Science Tools |
|--------------------|
|      Rstudio       |
| Jupyter Notebooks  |
|   Apache Spark     |

### Below are a few examples of evaluating arithmetic expressions in Python
(19 + 5)<br>
(12 ** 3)<br>
(121 - 49)<br>
(69 / 23)<br>
(55 * 6)

In [1]:
# This a simple arithmetic expression to mutiply then add integers

total_operation = (3*4)+5
print(total_operation)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
total_hours = (200/60)
print(total_hours)

3.3333333333333335

Copyright Â©2024 IBM Corporation. All rights reserved.